*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    font-size:14px;
    font-family: "Microsoft YaHei";
}

.container{
    width: 100%;
    height: 100%;
    min-width: 1175px;
    padding: 10px;
}

.queryCondPanel{
    padding: 10px 15px;
    border: 1px solid #E4E4E4;
    background-color: #fff;
    box-shadow: 0 2px 10px 1px rgba(200,200,200, 0.1);
}

.layui-inline{
    width: calc((100% - 20px)*0.45);
}

.btnBox{
    width: calc((100% - 20px)*0.2) !important;
}

.btnBox1{
    width: calc((100% - 20px)*0.46) !important;
}

.layui-form-label{
    width: 206px;
    padding: 5px 15px ;
}

.layui-input{
    height: 30px;
    width: 220px;
    display: inline-block
}

.layui-input-inline{
    width: 240px !important;
    line-height: 30px;
}

.layui-input-inline .layui-form-select{
    width: 220px;
    display: inline-block
}
.layui-input-inline .tip{
    color: red;
}

.btnItem{
    border: 0;
    background-color: #409CFC;
    color: #fff;
    padding: 5.5px 15px;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 5px;
}

.btnItem:hover{
    background-color: #5eacfd;
}

.textbox{
    height: 30px !important;
    border-color: #E6E6E6 !important;
}

.textbox-focused{
    box-shadow: 0 0 1px 0 #95B8E7 !important;
}

.tablePanel{
    width: 100%;
    height: 340px;
}

.datagrid-row-selected{
    background-color: #fff !important;
}

.datagrid-row,.datagrid-header-row{
    height: 32px;
}

.panel-header, .panel-body{
    border: 1px solid #E4E4E4;
}

/* .datagrid-row td{
    background-color:#EBF0FD;
} */

.icon{
    width: 18px;
    height: 18px;
    cursor: pointer;
    color: #00A0DC;
    margin-left: 5px;
}

.infoBox{
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #E4E4E4;
    background-color: #fff;
    box-shadow: 0 2px 10px 1px rgba(200,200,200, 0.1);
}

.pageBox{
    margin-top: 8px;
}

.trAdd{
    text-align: center;
    height: 32px;
}

.operateBtn{
    color:#409CFC;
    cursor: pointer;
}

.operateBtn:hover{
    color:#409CFC;
    text-decoration: underline;
}

.importPanel{
    padding: 15px;
}

 .importBtn{
    border: 0;
    background-color: #409CFC;
    color: #fff;
    padding: 5.5px 15px;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 10px;
}

.importBtn:hover{
    background-color: #5eacfd;
}

.importTablePanel{
    width: 100%;
    height: 256px;
    margin-top: 10px;
    display:none;
}


/* .messager-window{
    z-index: 10000000001 !important;
} */

.layui-layer-shade{
    z-index: 1 !important;
}

.layui-layer-page{
    z-index: 2 !important;
}

.datagrid-header-row .datagrid-cell-c1-sumInetNum{
    text-align: center !important;
}


/* .importTablePanel .datagrid-view{
    width: auto !important;
} */

.importTablePanel .datagrid-row td[field="addInetNum"] div{
    padding-left: 24px !important;
}

.clearBtn{
    position: absolute;
    right: 25px;
    top: 5px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    z-index: 10000;
    display: none;
}
.clearBtnOrg{
    position: absolute;
    right: 25px;
    top: 5px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    z-index: 10000;
    display: none;
}


.datagrid-sort-icon {
    padding: 0 !important;
}

.datagrid-view2 .datagrid-header-row :nth-last-child(1) div{
    padding-right: 18px;
}

.datagrid-row :nth-last-child(1) div{
    padding-right: 18px;
}

/* .datagrid-row :nth-child(1) div{
    text-align: left !important;
} */

.layui-form{
    font-size: 12px;
}
/*layui*/
.selfselect .layui-form-select dl {
 
    top: 32px !important;
}
.selfselect  .layui-form-select dl dd, .layui-form-select dl dt {
 
    line-height: 26px !important;
}

.layui-form-radio>i {
    margin-right: 8px;
    font-size: 14px;
    color: #c2c2c2;
}
.layui-form-radio {
    margin: 0;
}
.layui-form-radio>i:hover, .layui-form-radioed>i {
    color: #5FB878;
}
textarea{
    padding: 10px;
}
#useTypeName{
    display: inline-block;
    height: 30px;
    line-height: 30px;
}